[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
music21 = "*"
lxml = "*"
nltk = "*"
matplotlib = "*"
dill = "*"
muspy = {ref = "b92910f3314a64f305ee6977e77dca342c90a2d7", git = "git+https://github.com/salu133445/muspy"}
torch = "*"

[dev-packages]

[requires]
python_version = "3.10"
